/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
 
/* Set font size to 10, easier to calculate */
html {
  font-size: 62.5%;
}
 
body {
  font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    min-width: 1000px;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.todo-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 800px;
}

.todo-items{
  margin: auto;
}